.venv/
__pycache__/
*.pyc
.env
models/*.pkl
vector_store/

node_modules/
requirements_v8/
__pycache__/

__init__
utils/
.venv/
__pycache__/
*.pyc
.env
models/*.pkl
vector_store/

node_modules/
data/
scripts/